version: '3'

services:
  db:
    image: postgres
    env_file:
      - docker.env
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
  web:
    build: .
    command: flask run --host=0.0.0.0
    env_file:
      - docker.env
    volumes:
      - .:/code
    ports:
      - "80:5000"
    depends_on:
      - db
